[Desktop Entry]
Type=Application
Name=Headset Control Center
GenericName=Headset Settings
Comment=Control and configure your USB gaming headset
Exec=headset-control-center
Icon=headset-control-center
Terminal=false
Categories=Utility;Settings;HardwareSettings;
Keywords=headset;headphones;audio;equaliser;equalizer;microphone;battery;
StartupWMClass=Headset Control Center
